<%= simple_form_for @party do |f| %>

  <%= f.error_notification %>

  <%= f.input :project_id, as: 'hidden'%>

  <%= f.input :required %>

  <div class="control-group">
    <%= label :departments, :name, t('activerecord.attributes.department.name'), class: 'control-label' %>
    <div class="controls">
      <%= select :departments, :name, Department.all.map{|u| [ u.name, u.id ] }, { include_blank: true }, { onchange: 'user_list($(this).val())' } %>
    </div>
  </div>

  <%= f.input :user, collection: User.all, label_method: :name, value_method: :id %>
  <%= f.submit %>
<% end %>
