<h1>関係者の登録情報編集</h1>

<%= simple_form_for [@party.project, @party] do |f| %>
  <%= f.error_notification %>
  <div class="control-group">
    <div class="controls">
      <label><%= @party.user.name %></label>
    </div>
  </div>
  <%= f.input :required, label: false, inline_label: '必須'%>
  <%= f.button :wrapped, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', @party.project %>
