<h1>Listing parties</h1>

<table>
  <tr>
    <th>Project</th>
    <th>User</th>
    <th>Required</th>
    <th>Mail send to</th>
    <th>Mail send cc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parties.each do |party| %>
  <tr>
    <td><%= party.project_id %></td>
    <td><%= party.user_id %></td>
    <td><%= party.required %></td>
    <td><%= party.mail_send_to %></td>
    <td><%= party.mail_send_cc %></td>
    <td><%= link_to 'Show', party %></td>
    <td><%= link_to 'Edit', edit_party_path(party) %></td>
    <td><%= link_to 'Destroy', party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Party', new_party_path %>
