<%= form_tag sessions_path, class: 'login_form', method: :post do %>
<h2 class="heading"><%= "ログイン#{('(2号)' unless Benesse::Application.config.first)}" %></h2>
<div class="field">
  <%= text_field_tag :username, params[:username], class: 'input-block-level email', placeholder: 'ユーザーID' %>
</div>
<div class="field">
  <%= password_field_tag :password, params[:password], class: 'input-block-level', placeholder: 'パスワード'  %>
</div>

<div class="scroll">
  <%= render 'terms' %>
</div>

<div class="actions">
  <%= submit_tag '約款の内容を確認し、本サービスの利用を申し込みます。' , class: 'btn btn-large btn-primary' %>
</div>
<% end %>
