<h1>新規ユーザ登録</h1>

<%= simple_form_for @user  do |f| %>
  <%= f.error_notification %>

  <%= f.association :department, collection: Department.all, include_blank: false %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :wrapped, class: 'btn btn-primary' %>

<% end %>

<%= link_to 'Back', projects_path %>
