<%= form_tag actions_aws_path, method: 'post', class: 'form-inline', target: 'blank', multipart: true do %>
  <input type="hidden" value="" name="path">
  <%= link_to project_path(@project, view: 'list'), class: 'btn list' do %>
    <i class="icon-th-list"></i> <%= t('view.file_viewer.buttons.list') %>
  <% end %>
  <%= link_to raw('<i class="icon-folder-open"></i> ' + t('view.file_viewer.buttons.folder')), project_path(@project) , class: 'btn' %>
  <% if allow? 'promoter' and @project.status == 1 %>
    <%= link_to raw('<i class="icon-ok"></i> ' + t('view.file_viewer.buttons.confirm')), aws_confirms_url, class: 'btn btn-primary', confirm: t('view.confirm.confirm_html') %>
    <%= link_to raw('<i class="icon-remove"></i> ' + t('view.file_viewer.buttons.cancel')), update_branch_confirms_url , class: 'btn btn-danger', confirm: t('view.confirm.cancel_html') %>
  <% end %>
  <button type="submit" class="btn file_action" data-action="download" name="download" value="on"><i class="icon-download"></i> <%= t 'view.file_viewer.buttons.download' %></button>
  <% if allow? 'promoter' %>
    <button type="submit" class="btn file_action" data-action="upload" name="upload" value="on"><i class="icon-upload"></i> <%= t 'view.file_viewer.buttons.upload' %></button>
    <button type="submit" class="btn file_action" data-action="delete" name="delete" value="on"><i class="icon-trash"></i> <%= t 'view.file_viewer.buttons.delete' %></button>
    <input type="file" name="upload_file"><br>
  <% end %>
  <p class="well well-small">URL: <a href="#"><%= Benesse::Application.config.aws_root_url %><span class="download_path"></span></a></p>
<% end %>