<div class="row clearfix">
  <div class="span12 file_viewer">
    <% if for_project %>
      <%= render 'projects/file_viewer_project_form' %>
    <% else %>
      <%= render 'projects/file_viewer_aws_form' %>
    <% end %>

    <% if params[:view].blank? or params[:view] != 'list' %>
      <ul class="files unstyled clearfix">
        <% dir = directory_to_array %>
        <% if dir.blank? %>
          <li class="text-error">指定されたディレクトリにファイルがアップロードされていません。</li>
        <% else %>
          <% dir.each do |name, info| %>
            <%= raw folder(name, info) %>
          <% end %>
        <% end %>
        <%= render 'projects/file_viewer_path_form' if for_project %>
      </ul>
    <% else %>
      <table class="files table table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th>ファイル名</th>
            <th>パス</th>
            <th>種類</th>
            <th>サイズ</th>
            <th class="span3">更新日</th>
          </tr>
        </thead>
        <tbody>
          <% dir = directory_to_array 0 %>
          <% if dir.blank? %>
            <tr><td><span class="text-error">指定されたディレクトリにファイルがアップロードされていません。</td><td></td><td></td><td></td><td></td></tr>
          <% else %>
            <% dir.each do |name, info| %>
              <tr class="action_select" data-path="<%= "#{info['_basepath_']}/#{info['_path_']}" %>">
                <td><%= info['_type_'] == 'dir' ? link_to(name, { view: 'list', path: "#{info['_basepath_']}/#{info['_path_']}" }) : name %></td>
                <td><%= "#{Benesse::Application.config.aws_root_url}#{info['_basepath_']}/#{info['_path_']}" %></td>
                <td><%= info['_type_'].upcase %></td>
                <td><%= info['_size_'] %></td>
                <td><%= info['_updated_at_'] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
