<div class="clearfix">
  <div class="actions-box">
    <%= link_to raw('<i class="icon-th-list"></i> ' + t('view.file_viewer.buttons.list')), { controller: 'aws', action: 'index', view: 'list' } , class: 'btn list' %>
    <%= link_to raw('<i class="icon-folder-open"></i> ' + t('view.file_viewer.buttons.folder')), { controller: 'aws', action: 'index' } , class: 'btn' %>
  </div>

  <%= form_tag actions_aws_path, method: 'post', class: 'actions-box', target: '_blank', multipart: true do %>
    <input type="hidden" value="" name="path">
    <button type="submit" class="btn file_action" date-action="download" name="download" value="on">
      <i class="icon-download"></i> <%= t 'view.file_viewer.buttons.download' %>
    </button>
  <% end %>

  <% if current_user.is_promotion_department? %>
    <%= form_tag actions_aws_path, method: 'post', class: 'actions-box', multipart: true do %>
      <input type="hidden" value="" name="path">
      <button type="submit" class="btn file_action" data-action="upload" name="upload" value="on">
        <i class="icon-upload"></i> <%= t 'view.file_viewer.buttons.upload' %>
      </button>
      <button type="submit" class="btn file_action" data-action="delete" name="delete" value="on">
        <i class="icon-trash"></i> <%= t 'view.file_viewer.buttons.delete' %>
      </button>
      <input type="file" name="upload_file"><br>
    <% end %>
  <% end %>
</div>

<p class="well well-small">URL: <a href="#"><%= Benesse::Application.config.aws_root_url %><span class="download_path"></span></a></p>
