<li class="well">
  <form method="get" class="form-horizontal">
  <% if @project.exists_test_server %>
    <div class="control-group">
      <label class="control-label">環境</label>
      <div class="controls">
        <select name="env" class="span2">
          <% ['production', 'test'].each do |e| %>
            <option value="<%= e %>" <%= 'selected' if params[:env].presence == e %>><%= t 'view.env.' + e %></option>
          <% end %>
        </select>
      </div>
    </div>
  <% end %>
    <div class="control-group">
      <label class="control-label">枝番</label>
      <div class="controls">
        <select name="branch_code" class="span1">
          <% @project.branches.each do |b| %>
            <option <%= 'selected' if params[:branch_code].presence == b.code or (params[:branch_code].blank? and @project.branches.last.code == b.code) %> ><%= b.code %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="表示内容を変更" class="btn btn-primary">
      </div>
    </div>
  </form>
</li>
