<div class="clearfix">
  <div class="actions-box">
    <% if allow? 'promoter' and @project.status == 1 %>
      <%= link_to aws_confirms_url, class: 'btn btn-primary', confirm: t('view.confirm.confirm_html') do %>
        <i class="icon-ok"></i> <%= t 'view.file_viewer.buttons.confirm' %>
      <% end %>
      <%= link_to update_branch_confirms_url , class: 'btn btn-danger', confirm: t('view.confirm.cancel_html') do %>
        <i class="icon-remove"></i> <%= t 'view.file_viewer.buttons.cancel' %>
      <% end%>
    <% end %>

    <%= link_to project_path(@project, view: 'list'), class: 'btn list' do %>
      <i class="icon-th-list"></i> <%= t('view.file_viewer.buttons.list') %>
    <% end %>
    <%= link_to project_path(@project) , class: 'btn' do %>
      <i class="icon-folder-open"></i> <%= t 'view.file_viewer.buttons.folder' %>
    <% end %>
  </div>

  <div class="actions-box">
    <input type="hidden" value="" name="path">
    <button type="submit" class="btn file_action" data-action="download" name="download">
      <i class="icon-download"></i> <%= t 'view.file_viewer.buttons.download' %>
    </button>
  </div>

  <%= form_tag actions_aws_path, method: 'post', class: 'actions-box', multipart: true do %>
    <input type="hidden" value="" name="path">
    <% if allow? 'promoter' %>
      <button type="submit" class="btn file_action" data-action="upload" name="upload" value="on">
        <i class="icon-upload"></i> <%= t 'view.file_viewer.buttons.upload' %>
      </button>
      <button type="submit" class="btn file_action" data-action="delete" name="delete" value="on">
        <i class="icon-trash"></i> <%= t 'view.file_viewer.buttons.delete' %>
      </button>
      <input type="file" name="upload_file"><br>
    <% end %>
  <% end %>
</div>

<p class="well well-small">URL: <a href="#"><%= Benesse::Application.config.aws_root_url %><span class="download_path"></span></a></p>
