<form method="post" class="form-inline" target="_blank">
<% #  <p class="well well-small">URL: <a href="#">http://<span class="domain"></span>benesse.ne.jp/<span class="download_path"></span></a></p> %>
  <p class="well well-small">URL: <a href="#"><%= Benesse::Application.config.aws_root_url %><span class="download_path"></span></a></p>
  <input type="hidden" value="" name="path">
  <% if current_user.is_promotion_department? %>
    <input type="file" name="upload_path"><br>
  <% end %>
  <button type="submit" class="btn file_action" date-action="download"><i class="icon-download"></i> <%= t 'view.file_viewer.buttons.download' %></button>
  <% if current_user.is_promotion_department? %>
    <button type="submit" class="btn file_action" data-action="upload"><i class="icon-upload"></i> <%= t 'view.file_viewer.buttons.upload' %></button>
    <button type="submit" class="btn file_action" data-action="delete"><i class="icon-trash"></i> <%= t 'view.file_viewer.buttons.delete' %></button>
  <% end %>
</form>

<%= link_to raw('<i class="icon-th-list"></i> ' + t('view.file_viewer.buttons.list')), { controller: 'upload', action: 'aws', view: 'list' } , class: 'btn list' %>
<%= link_to raw('<i class="icon-folder-open"></i> ' + t('view.file_viewer.buttons.folder')), { controller: 'upload', action: 'aws' } , class: 'btn' %>
