<div class="clearfix">
  <h1><%= t 'view.project.check' %> <small><%= t('view.project.' + params[:status])  %></small></h1>

  <p>
    <b><%= t 'view.project.name' %>:</b> <%= @project.name %>
    [ <%= project_number @project %> ]
  </p>

  <p>
    <b><%= t 'activerecord.attributes.project.authorizer' %>:</b>
    <%= @project.authorizer ? @project.authorizer.name : t('view.utility.undefined') %>
  </p>
  
  <p>
    <b><%= t 'activerecord.attributes.project.promoter' %>:</b>
    <%= @project.promoter ? @project.promoter.name : t('view.utility.undefined') %>
  </p>

  <p>
    <b><%= t 'activerecord.attributes.project.operator' %>:</b>
    <%= @project.operator ? @project.operator.name : t('view.utility.undefined') %>
  </p>

  <%= form_tag "/projects/#{params[:id]}/check/#{params[:status]}" do %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t 'view.utility.required' %></th>
          <th><%= t 'activerecord.attributes.user.department' %></th>
          <th><%= t 'activerecord.attributes.user.name' %></th>
          <th class="span2">Feedback</th>
          <th class="span2">OK</th>
          <th class="span2">NG</th>
        </tr>
      </thead>
      <tbody>
        <% @project.parties.each do |party| %>
        <tr>
          <td><%= raw party.required ? '<i class="icon-ok"></i>' : '' %></td>
          <td><%= party.user.department.name %></td>
          <td><%= party.user.name %></td>

          <% if current_user == party.user%>
          <td>
            <%= radio_button :confirmation, :response, 'feedback' , { checked: response(current_user) == 'feedback' } %>
          </td>
          <td>
            <%= radio_button :confirmation, :response, 'ok' , { checked: response(current_user) == 'ok' } %>
          </td>
          <td>
            <%= radio_button :confirmation, :response, 'ng' , { checked: response(current_user) == 'ng' } %>
          </td>
          <% else %>
          <td>
            <%= raw response(party.user) == 'feedback' ? '<i class="icon-ok"></i>' : '' %>
          </td>
          <td>
            <%= raw response(party.user) == 'ok' ? '<i class="icon-ok"></i>' : '' %>
          </td>
          <td>
            <%= raw response(party.user) == 'ng' ? '<i class="icon-ok"></i>' : '' %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <input type="submit" class="btn btn-primary btn-large pull-right" value="submit">
  <% end %>
</div>

<h2><%= t 'view.utility.comment' %></h2>
<ul class="well unstyled">
  <% @project.comments.where(status: @status).reverse_order.each do |c| %>
  <li>
    <%= l c.created_at, format: "%Y/%m/%d(%a) %H:%M" %>
    <b><%= c.user.name %>: </b>
    <%= raw c.comment.gsub(/\r\n|\r|\n/, "<br />") %>
  </li>
  <% end %>
</div>

<%= simple_form_for @comment, html: { class: 'clearfix span12' } do |f| %>
  <%= f.input :project_id, as: :hidden %>
  <%= f.input :status, as: :hidden  %>
  <%= f.input :comment, { as: :text, label: false, input_html: { class: 'input-block-level', rows: 10 } } %>
  <%= f.submit value: 'comment', class: 'btn btn-primary btn-large pull-right' %>
<% end %>
