<div class="clearfix">

  <h1><%= t 'view.project.check' %> <small><%= t('view.project.' + params[:status])  %></small></h1>

  <div class="row">
    <div class="span4">
      <p>
        <b><%= t 'view.project.name' %>:</b> <%= @project.name %>
        [ <%= project_number @project %> ]
      </p>

      <p>
        <b><%= t 'activerecord.attributes.project.authorizer' %>:</b>
        <%= @project.authorizer ? @project.authorizer.name : t('view.utility.undefined') %>
      </p>

      <p>
        <b><%= t 'activerecord.attributes.project.promoter' %>:</b>
        <%= @project.promoter ? @project.promoter.name : t('view.utility.undefined') %>
      </p>

      <p>
        <b><%= t 'activerecord.attributes.project.operator' %>:</b>
        <%= @project.operator ? @project.operator.name : t('view.utility.undefined') %>
      </p>
    </div>

    <%= form_tag check_project_path(status: params[:status]), method: 'put', class: 'span8' do %>
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th class="center"><%= t 'view.utility.required' %></th>
            <th><%= t 'activerecord.attributes.user.department' %></th>
            <th><%= t 'activerecord.attributes.user.name' %></th>
            <th class="span1 center">Feedback</th>
            <th class="span1 center">OK</th>
            <th class="span1 center">NG</th>
          </tr>
        </thead>
        <tbody>
          <% @project.parties.each do |party| %>
          <tr>
            <td class="center"><%= raw party.required ? '<i class="icon-ok"></i>' : '' %></td>
            <td><%= party.user.department.name %></td>
            <td><%= party.user.name %></td>

            <% if current_user == party.user and confirmation_enabled?(@project) %>
              <td class="center">
                <%= radio_button :confirmation, :response, 'feedback' , { checked: response(current_user) == 'feedback' } %>
              </td>
              <td class="center">
                <%= radio_button :confirmation, :response, 'ok' , { checked: response(current_user) == 'ok' } %>
              </td>
              <td class="center">
                <%= radio_button :confirmation, :response, 'ng' , { checked: response(current_user) == 'ng' } %>
              </td>
            <% else %>
            <td class="center">
              <%= raw response(party.user) == 'feedback' ? '<i class="icon-ok"></i>' : '' %>
            </td>
            <td class="center">
              <%= raw response(party.user) == 'ok' ? '<i class="icon-ok"></i>' : '' %>
            </td>
            <td class="center">
              <%= raw response(party.user) == 'ng' ? '<i class="icon-ok"></i>' : '' %>
            </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>

      <% if @project.parties.blank? %>
        <p class="text-error">関係者が登録されていません。</p>
      <% end %>

      <% if confirmation_enabled? @project %>
        <input type="submit" class="btn btn-primary btn-large pull-right" value="登録">
      <% end%>
    <% end %>
  </div>
</div>

<h2><%= t 'view.utility.comment' %></h2>
<ul class="well unstyled comments">
  <% @comments.each do |c| %>
  <li>
    <b class="username"><i class="icon-user"></i> <%= c.user.name %></b>
    <span class="time"><%= l c.created_at, format: "%Y/%m/%d(%a) %H:%M" %></span>
    <p><%= raw c.comment.gsub(/\r\n|\r|\n/, "<br />") %></p>
  </li>
  <% end %>
  <% if @comments.blank? %>
  <li class="text-error">コメントが投稿されていません。</li>
  <% end %>
</div>

<%= form_tag "/projects/#{params[:id]}/comment", class: 'clearfix span12' do %>
  <%= hidden_field :comment, :project_id %>
  <%= hidden_field :comment, :status  %>
  <%= text_area :comment, :comment, { class: 'input-block-level', rows: 10 } %>
  <input type="submit" class="btn btn-primary btn-large pull-right" value="comment">
<% end %>

<%= link_to 'Back', @project %>
