<h1>案件詳細の編集</h1>

<%= simple_form_for(@project) do |f| %>

  <%= f.error_notification %>

  <% if allow? 'promoter', 'operator' %>
    <%= f.input :name %>
    <%= f.input :year_migrate, inline_label: '年度移行対象', label: false %>
    <%= f.input :deletion, inline_label: '削除案件', label: false %>
    <%= f.input :registration_status, { collection: {'仮登録' => 0, '本登録' => 1}, as: :radio_buttons, inline_label: '本登録', checked: @project.registration_status.blank? ? 0 : 1 } %>
    <%= f.input :operator, collection: User.where(['department_id != ?', Department.find_by_name('業者').try(:id)]), label_method: :name, value_method: :id, include_blank: false, selected: @project.operator.id %>
    <%= f.input :upload_server, { as: :select, collection: Benesse::Application.config.servers, include_blank: false } %>
  <% end %>
  <%= f.input :test_upload_at, { as: :date, input_html: { class: 'input-small' } } %>
  <%= f.input :production_upload_at, { input_html: { class: 'input-small' }, datetime_separator: raw('<span class="separator">- </span>'), time_separator: raw('<span class="separator">: </span>') } %>
  <%= f.input :register_datetime, { inline_label: '本番環境移送日の日と時間を未定にする', label: false,  } %>
  <%= f.input :memo, input_html: { class: 'span5' } %>
  <%= f.button :wrapped, class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
