<h2>
  <%= t 'view.home.project_list' %>
  <small>
    <%= Date.new @date.year, @date.month, 1 %> ~
    <%= Date.new @date.year, @date.month, -1 %>
  </small>
</h2>

<form class="form-inline" method="GET">
  <input type="hidden" name="date" value="<%= @date %>">
  <select class="input-medium" name="server">
    <option></option>
    <option>kzemi</option>
  </select>
<!--
  <select class="input-medium">
    <option>本番環境</option>
    <option>テスト環境</option>
  </select>
-->
  <button type="submit" class="btn">検索</button>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.project.name' %></th>
      <th><%= t 'activerecord.attributes.project.promoter' %></th>
      <th><%= t 'activerecord.attributes.project.test_upload_at' %></th>
      <th><%= t 'activerecord.attributes.project.production_upload_at' %></th>
      <th><%= t 'view.utility.comment' %></th>
      <th></th>
    <tr>
  </thead>
  <tbody>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.promoter.name %></td>
      <td><%= project.test_upload_at.presence || '未定' %></td>
      <td><%= project.production_upload_at.presence || '未定' %></td>
      <td><%= truncate project.comments.last.presence.comment || '' %></td>
      <td class="center"><%= link_to '個票', project, class: 'btn' %></td>
    </tr>
  <% end %>

  </tbody>
<table>

<%= link_to '< Prev month', { date: @date << 1 } %>
<%= link_to 'Next month >', { date: @date >> 1 }, { class: 'pull-right' } %>
