<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6">
    <h2>
      <%= @project.name %>
      <small><%= sprintf '%07d', @project.id %>-<%= sprintf '%02d', 0 %></small>
      <span class="label label-warning"><%= t 'view.utility.registration.temporary' %></span>
      <span class="label label-success"><%= t 'view.utility.registration.production' %></span>
      <span class="label label-important"><%= t 'view.project.transition' %></span>
    </h2>

    <p>
      <b><%= t 'activerecord.attributes.project.authorizer' %>:</b>
      <%= @project.authorizer ? @project.authorizer.name : t('view.utility.undefined') %> [<%= t 'view.utility.confirmed' %>: <%= @project.confirmed ? t('view.utility.confirm.ok') : t('view.utility.confirm.ng') %> ]
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.promoter' %>:</b>
      <%= @project.promoter ? @project.promoter.name : t('view.utility.undefined') %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.operator' %>:</b>
      <%= @project.operator ? @project.operator.name : t('view.utility.undefined') %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.upload_url' %>:</b>
      <%= @project.upload_url ? @project.upload_url : t('view.utility.undefined') %>
    </p>

    <% unless @project.production_upload_url.blank? %>
    <p>
      <b><%= t 'activerecord.attributes.project.production_upload_url' %>:</b>
      <%= @project.production_upload_url %>
    </p>
    <% end %>

    <p>
      <b><%= t 'activerecord.attributes.project.test_upload_at' %>:</b>
      <%= @project.test_upload_at ? @project.test_uplaod_at : t('view.utility.undefined') %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.production_upload_at' %>:</b>
      <%= @project.production_upload_at ? @project.production_upload_at : t('view.utility.undefined') %>
    </p>

    <%= link_to 'Edit', edit_project_path(@project) %>
  </div>

  <div class="span6">
    <div class="row">
      <% for i in ['html', 'test', 'production'] %>
      <div class="span2">
        <button class="btn btn-large btn-block <%= disabled i %>"><%= t 'view.project.'  + i %></button>
        <p class="text-center"><%= t 'view.project.status.'  + (status i) %></p>
      </div>
      <% end %>
    </div>

    <div class="clearfix">
      <textarea class="input-block-level"></textarea>
      <button class="btn btn-primary pull-right"><%= t 'view.project.mail_send' %></button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t 'view.utility.required' %></th>
          <th><%= t 'activerecord.models.departments' %></th>
          <th><%= t 'activerecord.attributes.user.name' %></th>
          <th><%= t 'view.project.html' %></th>
          <th><%= t 'view.project.test' %></th>
          <th><%= t 'view.project.production' %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>hogehoge</td>
          <td>hogehoge</td>
          <td>hogehoge</td>
          <td>OK</td>
          <td>NG</td>
          <td>FB</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', projects_path %>
