<% if @project.status == 7 %><div class="alert alert-error">全ての工程が完了した案件です。</div><% end %>
<div class="row">
  <div class="span5">
    <h2> <%= @project.name %> <small><%= project_number @project %></small></h2>

    <p>
      <% if @project.confirmed %>
        <span class="label label-success"><%= t 'view.utility.confirm.ok' %></span>
      <% else%>
        <span class="label label-warning"><%= t 'view.utility.confirm.ng' %></span>
      <% end %>

      <% if @project.registration_status %>
        <span class="label label-success"><%= t 'view.utility.registration.production' %></span>
      <% else %>
        <span class="label label-warning"><%= t 'view.utility.registration.temporary' %></span>
      <% end %>

      <% if @project.year_migrate %>
        <span class="label label-info"><%= t 'view.project.transition' %></span>
      <% end %>

      <% if @project.server_update %>
        <span class="label label-info"><%= t 'view.project.server_update' %></span>
      <% end %>

      <% if @project.exists_test_server %>
        <span class="label label-info"><%= t 'view.project.exists_test_server' %></span>
      <% end %>

      <% if @project.miss %>
        <span class="label label-important"><%= t 'view.project.miss' %></span>
      <% end %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.authorizer' %>:</b>
      <%= @project.authorizer.name %>&nbsp;
      <%= link_to 'OK', authority_confirms_path(auth: 'authorizer'), class: 'btn btn-mini btn-success' if @project.old_authorizer and current_user == @project.authorizer %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.promoter' %>:</b>
      <%= @project.promoter.name %>&nbsp;
      <%= link_to 'OK', authority_confirms_path(auth: 'promoter'), class: 'btn btn-mini btn-success' if @project.old_promoter and current_user == @project.promoter %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.operator' %>:</b>
      <%= @project.operator ? @project.operator.name : t('view.utility.undefined') %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.upload_url' %>:</b><br />
      <%= link_to upload_index_url, upload_index_url %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.test_upload_at' %>:</b>
      <%= @project.test_upload_at.blank? ? '未登録': l(@project.test_upload_at, format: :date) %>
    </p>

    <p>
      <b><%= t 'activerecord.attributes.project.production_upload_at' %>:</b>
      <%= @project.production_upload_at.blank? ? '未登録' : l(@project.production_upload_at, format: @project.register_datetime ? :short : :long ) %>
    </p>

    <p class="well">
      <%= @project.memo.blank? ? 'メモは登録されていません。' : @project.memo %>
    </p>

    <% if allow? 'authorizer' and ! @project.confirmed %>
      <%= link_to raw('<i class=" icon-ok"></i> ' + t('view.project.authenticate') + '</a>'),
        project_confirms_url, { class: 'btn btn-primary', confirm: t('view.confirm.confirm_project') } %>
    <% end %>

    <% if allow? 'promoter', 'operator' %>
      <%= link_to raw('<i class="icon-edit"></i> ' + t('view.project.update_project') + '</a>'),
        edit_project_path(@project), { class: 'btn' } %>
    <% end %>

    <% if allow? 'authorizer', 'promoter' %>
      <%= link_to raw('<i class="icon-user"></i> ' + t('view.project.update_authors') + '</a>'),
        { controller: 'projects' , action: 'authors', id: @project.id }, { class: 'btn' } %>
    <% end %>

    <%= link_to raw('<i class="icon-circle-arrow-up"></i> ' + t('view.project.update_branch') + '</a>'),
      update_branch_confirms_url, { class: 'btn', confirm: t('view.confirm.update_branch') } %>
  </div>

  <%= form_tag remind_mail_index_path, class: 'span7' do %>
    <% if (0..6).include? @project.status %>
      <div class="alert alert-warinig">
      <% if @project.status == 0 %>
        <%=raw t 'view.alert.confirm' %>
      <% elsif @project.status == 1 %>
        <%=raw t 'view.alert.confirm_html' %>
      <% elsif @project.status == 2 %>
        <%=raw t 'view.alert.check_html' %>
      <% elsif @project.status == 3 %>
        <%=raw t 'view.alert.upload_for_test' %>
      <% elsif @project.status == 4 %>
        <%=raw t 'view.alert.check_test' %>
      <% elsif @project.status == 5 %>
        <%=raw t 'view.alert.upload_for_production' %>
      <% elsif @project.status == 6 %>
        <%=raw t 'view.alert.check_production' %>
      <% end %>
      </div>
    <% end %>

    <ul class="row status_buttons unstyled">
      <% for i in ['aws', 'test', 'production'] %>
      <li class="span2">
        <%= link_to t('view.project.'  + i), check_project_path(status: i),
          { class: "btn btn-large btn-block #{disabled i}", onclick: "if ('disabled' === '#{disabled i}') return false;" } %>
        <p class="text-center"><%= t 'view.project.status.'  + (now_status @project, i) %></p>
      </li>
      <% end %>
    </ul>

    <table class="parties table table-striped table-condensed">
      <thead>
        <tr>
          <th class="center">TO</th>
          <th class="center">CC</th>
          <th class="center"><%= t 'activerecord.attributes.user.department' %></th>
          <th class="center"><%= t 'activerecord.attributes.user.name' %></th>
          <th class="center"><%= t 'view.project.aws' %></th>
          <th class="center"><%= t 'view.project.test' %></th>
          <th class="center"><%= t 'view.project.production' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @project.parties.each do |party| %>
        <tr>
          <td class="center"><input type="checkbox" name="to[<%= party.user.id %>]"></td>
          <td class="center"><input type="checkbox" name="cc[<%= party.user.id %>]"></td>
          <td><%= party.user.department.name %></td>
          <td><%= party.user.name %></td>
          <td class="center">
            <% if party.aws_confirm_required %><span class="label label-important">必須</span>&nbsp;<% end %>
            <%= response(party.user, 0).upcase %>
          </td>
          <td class="center">
            <% if party.test_confirm_required %><span class="label label-important">必須</span>&nbsp;<% end %>
            <%= response(party.user, 1).upcase %>
          </td>
          <td class="center">
            <% if party.production_confirm_required %><span class="label label-important">必須</span>&nbsp;<% end %>
            <%= response(party.user, 2).upcase %>
          </td>
          <td class="center">
            <% if allow? 'promoter' %>
              <%= link_to t('view.utility.edit'),
                { controller: 'parties', action: 'edit', project_id: @project.id, id: party.id},
                { class: 'btn btn-mini'} %>
              <%= link_to t('view.utility.delete'),
                { controller: 'parties', action: 'destroy', project_id: @project.id, id: party.id},
                { method: :delete, confirm: t('view.confirm.delete'), class: 'btn btn-danger btn-mini'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if @project.parties.blank? %>
      <p class="text-error">関係者が登録されていません。</p>
    <% end %>

    <div class="clearfix">
      <%= link_to t('view.project.add_party'), { controller: 'parties', action: 'new', project_id: @project.id }, { class: 'pull-right clearfix add_party' } %>
    </div>

    <div class="clearfix">
      <textarea rows="10" class="input-block-level" name="mail_text"></textarea>
      <button class="btn btn-primary pull-right" type="submit"><i class="icon-envelope"></i> <%= t 'view.project.remind_mail' %></button>
    </div>
  <% end %>
</div>

<%= render 'projects/file_viewer', for_project: true %>


<div class="clearfix">
  <%= link_to 'Back', projects_path %>
  <% if current_user.is_promotion_department? %>
    <%= link_to t('view.project.delete'), @project, method: :delete, class: 'btn btn-danger pull-right', data: { confirm: t('view.confirm.project_delete')} %>
  <% end %>
</div>
